@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add this CSS to your global stylesheet or custom CSS */
.swiper-pagination-bullet {
  background: #f9a825; /* Yellow color for the pagination bullets */
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* White color for navigation arrows */
}
.padbou{padding-bottom: 25px;}
.rowclimn{flex-direction:column;}
.rowclimn.top-full{top:20px;}
.topmar{top:168px;}
.nopad{padding-bottom: 0;}
.textalin{text-align: justify;}
.padleft{padding-left: 90px;}
.logosi{height:6rem;}
.padtop{padding-top: 80px;}
.ulli li{border: 1px solid #ccc;padding: 5px 15px;border-radius: 5px;margin-left: 5px !important;}
.swiperpad{padding-bottom: 100px;}
.borderline{border-bottom: 1px solid #ccc;}